<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="Styles/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="Scripts/js-image-slider.js" type="text/javascript"></script>
    <script type="text/javascript">        $.ajaxSetup({ cache: false }); $(document).ready(function () { $(".openPopup").live("click", function (e) { e.preventDefault(); $(" <div></div> <p>").addClass("dialog").attr("id", $(this).attr("data-dialog-id")).appendTo("body").dialog({ title: $(this).attr("data-dialog-title"), close: function () { $(this).remove(); }, modal: true, height: 250, width: 900, left: 0 }).load(this.href); }); $(".close").live("click", function (e) { e.preventDefault(); $(this).closest(".dialog").dialog("close"); }); });     </script>
    <title>_Layout</title>
    @Styles.Render("~/Content/css")
</head>
<body >
<header >
    <table class="topbar" background="../../Images/topbar.png">
        <tr> 
            <td>
                <a class="topbar" href="google.com">Find a Doctor</a>
                <a class="topbar" href="google.com">Application Manual</a>
                <a class="topbar" href="google.com">Reports</a>
                <a class="topbar" href="google.com">Contact Admin</a>
                <a class="topbar" href="google.com">User Login</a>
            </td>
        </tr>
    </table>
</header>
<div class="main">
    <div id="header" >
        <div id="image" class="image">
            <img src="../../Images/hospital-management-erp.jpg" alt="Smiley face" height="150" width="700"><br />
        </div>
        <div id="buttons">
            <a class="button" href="@Url.Action("Index","Home")">Home</a> 
            <a class="button" href="@Url.Action("PatientMgmt","Home")">Patient Management</a> 
            <a class="button" href="@Url.Action("PatientAppt","Home")">Patient Appointment</a>
            <a class="button" href="@Url.Action("PatientRoom","Home")">Patient Room Booking</a>
            <a class="button" href="@Url.Action("DoctorsArena","Home")">Doctors arena</a> 
            <a class="button" href="@Url.Action("Billing","Home")">Hospital billing</a> 
        </div>
    </div>

    @RenderBody()
     <div id="footer" class="footer">
        Humancare.com © 2014. All Rights Reserved. <a href="http://google.com">Privacy Policy</a> 
    </div>
</div>
</body>
</html>
